.navbar{
    height: 10vh;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.desingContainer{
    background-color: darkblue;
}
.link{
    color: white;
    text-align: center;
}

.link img{
    width: 100px;
    max-width: 100%;
}