.homeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 153, 0);
    /* height: 100%; */
    /* width: 100vw; */
}
*::-webkit-scrollbar{
    display: none;
  }
.bodyHome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeDiv img{
    margin-top: 5em;
    width: 700px;
    
}
.buttonHome{
    background-color: blue;
    color: white;
    width: 10em;
}
@media only screen and (max-width: 768px) {
    .homeDiv img {
        margin-top: 5em;
        max-width: 90%;
    }
}






