.pokemonDesing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
  background-color: rgb(255, 153, 0);

}

.cardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    /* background-color: white; */
  }
  .cardColumn {
    width: 20em;
    /* padding: 0.5em; */
    box-sizing: border-box;
  }

  .card {
    margin-bottom: 1em;
  }
  
  .desingCardPoke{
    width: 18em;
    height: 35em;
    transition: transform 0.3s ease;
    
}

.desingCardPoke:hover {
  transform: scale(1.05);
}